doctype html
html
  
  include includes/head.pug
  body
    h1 My Site
    p Welcome to my super lame site.
    include includes/nav.pug
    include includes/about.pug
    include includes/portfolio.pug
    include includes/resume.pug

    include includes/foot.pug
    script(src="bundle.js")